<div class="row-content am-cf">
  <div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
      <div class="widget am-cf">
        <div class="widget-head am-cf">
          <div class="widget-title  am-cf" th:text="${title}">维护页</div>
        </div>

        <div class="widget-body am-fr">

          <form id="saveForm" class="am-form tpl-form-border-form tpl-form-border-br" th:action="@{/functions/save}" th:object="${function}" th:attr="returnUrl=${session.pageHistory[1]}" onsubmit="return ajaxMainContainer('saveForm');">
            <input type="hidden" name="title" th:value="${title}" />
            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">菜单编号</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="id" placeholder="请输入菜单编号" th:value="*{id}" th:readonly="${function.id != null}">
                <small>请填写菜单编号2-6位。</small>
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">父菜单编号</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="pId" placeholder="请输入父菜单编号" th:value="*{pId}">
                <small>请填写父菜单编号2-6位。</small>
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">菜单名称</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="name" placeholder="请输入菜单名称" th:value="*{name}">
                <small>请填写菜单名称2-10位左右。</small>
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">访问路径</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="url" placeholder="请输入访问路径" th:value="*{url}">
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">菜单图标</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="icon" placeholder="请输入菜单图标" th:value="*{icon}">
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">匹配地址</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="matchUrl" placeholder="请输入匹配地址" th:value="*{matchUrl}">
                <small>菜单下功能匹配地址，多个路径用,隔开。</small>
              </div>
            </div>

            <br/>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-secondary am-btn-lg">提&nbsp;&nbsp;&nbsp;交</button>
                <button type="button" class="am-btn am-btn-secondary am-btn-lg" th:onclick="'javascript:getMainContainer(\''+(${session.pageHistory[1]})+'\');'">返&nbsp;&nbsp;&nbsp;回</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>