<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UnionCoding</title>
  <meta name="description" content="description">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/ui/amazeui/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/ui/amazeui/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="UnionCoding" />
  <link rel="stylesheet" href="/ui/amazeui/assets/css/amazeui.min.css" />
  <link rel="stylesheet" href="/ui/amazeuiModel/assets/css/amazeui.datatables.min.css" />
  <link rel="stylesheet" href="/ui/amazeuiModel/assets/css/app.css">
  <!-- CSRF -->
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body data-type="index">

<div class="am-g tpl-g">
  <!-- 头部 -->
  <header>
    <!-- logo -->
    <div class="am-fl tpl-header-logo">
      <a href="javascript:;"><img src="/ui/amazeuiModel/assets/img/logo.png" alt=""></a>
    </div>
    <!-- 右侧内容 -->
    <div class="tpl-header-fluid">
      <div class="am-fr tpl-header-navbar">
        <ul>
          <!-- 欢迎语 -->
          <li class="am-text-sm tpl-header-navbar-welcome">
            <a href="javascript:;">欢迎你, <span th:text="${user.name}">Amaze UI</span> </a>
          </li>

          <!-- 个人信息 -->
          <li class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
              <span class="am-icon-users"></span>设置<span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
              <li><a href="#" th:onclick="'javascript:getMainContainer(\'/personal\')'"><span class="am-icon-user"></span>个人信息</a></li>
              <li><a href="#" th:onclick="'javascript:getMainContainer(\'/updatePwd\')'"><span class="am-icon-cog"></span>修改密码</a></li>
            </ul>
          </li>

          <!-- 新提示 -->
          <li class="am-dropdown" data-am-dropdown>
            <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
              <i class="am-icon-bell"></i>
              <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
            </a>

            <!-- 弹出列表 -->
            <ul class="am-dropdown-content tpl-dropdown-content">
              <li class="tpl-dropdown-menu-notifications">
                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                  <div class="tpl-dropdown-menu-notifications-title">
                    <i class="am-icon-line-chart"></i>
                    <span> 有6笔新的销售订单</span>
                  </div>
                  <div class="tpl-dropdown-menu-notifications-time">
                    12分钟前
                  </div>
                </a>
              </li>
              <li class="tpl-dropdown-menu-notifications">
                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                  <div class="tpl-dropdown-menu-notifications-title">
                    <i class="am-icon-star"></i>
                    <span> 有3个来自人事部的消息</span>
                  </div>
                  <div class="tpl-dropdown-menu-notifications-time">
                    30分钟前
                  </div>
                </a>
              </li>
              <li class="tpl-dropdown-menu-notifications">
                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                  <div class="tpl-dropdown-menu-notifications-title">
                    <i class="am-icon-folder-o"></i>
                    <span> 上午开会记录存档</span>
                  </div>
                  <div class="tpl-dropdown-menu-notifications-time">
                    1天前
                  </div>
                </a>
              </li>


              <li class="tpl-dropdown-menu-notifications">
                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                  <i class="am-icon-bell"></i> 进入列表…
                </a>
              </li>
            </ul>
          </li>

          <!-- 退出 -->
          <li class="am-text-sm">
            <a href="javascript:;" onclick="logout();">
              <span class="am-icon-sign-out"></span> 退出
              <form id="logoutForm" action="/logout" th:action="@{/logout}" method="post">
              </form>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </header>
  <!-- 侧边导航栏 -->
  <div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
      <div class="tpl-user-panel-slide-toggleable">
        <div class="tpl-user-panel-profile-picture">
          <img src="/ui/amazeuiModel/assets/img/user04.png" alt="">
        </div>
        <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
        <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
      </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
      <li class="sidebar-nav-link" th:each="menu : ${functions}">
        <a href="javascript:;" class="sidebar-nav-sub-title">
          <i class="am-icon-table sidebar-nav-link-logo" th:class="${menu.icon} + ' sidebar-nav-link-logo'"></i> <span th:text="${menu.name}">大菜单</span>
          <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
          <li class="sidebar-nav-link menuitem" th:each="menuitem : ${menu.functions}">
            <a href="javascript:void(0)" th:attr="url=${menuitem.url}">
              <span class="am-icon-angle-right sidebar-nav-link-logo" th:class="${menuitem.icon} + ' sidebar-nav-link-logo'"></span> <span th:text="${menuitem.name}">小菜单</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <!-- 内容区域 -->
  <div class="tpl-content-wrapper" id="mainContainer">

  </div>
</div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/ui/amazeui/assets/js/amazeui.min.js"></script>
<script src="/ui/amazeuiModel/assets/js/theme.js"></script>
<script src="/js/main.js"></script>

<script>
    //页面初始化
    $(document).ready(function(){
        //菜单关联伸缩
        $('.sidebar-nav-sub-title').on('click', function() {
            $('.sidebar-nav-sub').slideUp(200).end().find('.sidebar-nav-sub-ico').removeClass('sidebar-nav-sub-ico-rotate');
            $(this).siblings('.sidebar-nav-sub').slideDown(200).end().find('.sidebar-nav-sub-ico').addClass('sidebar-nav-sub-ico-rotate');
        })
        //打开第一个菜单
        $('.sidebar-nav-sub-title').first().siblings('.sidebar-nav-sub').slideDown(200).end()
            .find('.sidebar-nav-sub-ico').toggleClass('sidebar-nav-sub-ico-rotate');
        //菜单栏被点击 加载其他模块的页面到核心区
        $(".menuitem a").click(function() {

            var url = $(this).attr("url");
            getMainContainer(url);
        });
        //自动加载第一个菜单栏的模块
        $(".menuitem a:first").trigger("click");
        //禁用浏览器返回按钮的操作
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    });
</script>

</body>

</html>