<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div class="am-cf" data-th-fragment="page" data-th-if="${page.totalPages gt 0}">
  共 [[${page.totalElements}]] 条记录
  <div class="am-fr">
    <ul class="am-pagination">
      <li data-th-classappend="${(page.number) eq 0} ? 'am-disabled' : ''">
        <a href="#">«</a>
      </li>

      <li data-th-each="i : ${#numbers.sequence((page.number-1) < 1 ? 1 : (page.number-1), (page.number+3) > page.totalPages ? page.totalPages : (page.number+3) )}"
          data-th-classappend="${(page.number + 1) eq i} ? 'am-active' : ''">
        <a href="#" data-th-text="${i}">1</a>
      </li>

      <li data-th-classappend="${(page.number+1) eq (page.totalPages)} ? 'am-disabled' : ''">
        <a href="#">»</a>
      </li>
    </ul>
  </div>
  <script>
      $(function () {
          var pageNumber = $("input[name='pageNumber']").val();

          $(".am-pagination li a").click(function () {
              var targetPageNumber = $(this).text();

              if ("«" == targetPageNumber) {
                  targetPageNumber = pageNumber - 1;
              }
              else if ("»" == targetPageNumber) {
                  targetPageNumber = parseInt(pageNumber) + 1;
              }
              else {
                  targetPageNumber = parseInt(targetPageNumber) - 1;
              }
              $("input[name='pageNumber']").val(targetPageNumber);
              $("#queryForm").submit();
          });
      });
  </script>
</div>
</body>
</html>