<div class="row-content am-cf">
  <div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
      <div class="widget am-cf">
        <div class="widget-head am-cf">
          <div class="widget-title  am-cf" th:text="${title}">维护页</div>
        </div>

        <div class="widget-body am-fr">

          <form id="saveForm" class="am-form tpl-form-border-form tpl-form-border-br" th:action="@{/authorities/save}" th:object="${authority}" th:attr="returnUrl=${session.pageHistory[1]}" onsubmit="return ajaxMainContainer('saveForm');">
            <input type="hidden" name="title" th:value="${title}" />
            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">角色名</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="authority" placeholder="请输入角色名" th:value="*{authority}" th:readonly="${authority.authority != null}">
                <small>请填写角色名2-20字左右。</small>
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">角色描述</label>
              <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="name" placeholder="请输入角色描述" th:value="*{name}">
                <small>请填写角色描述2-10字左右。</small>
              </div>
            </div>

            <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">菜单</label>
              <div class="am-u-sm-9">
                <label class="am-checkbox-inline" th:each="function : ${functions}">
                  <input type="checkbox" name="functions" th:value="${function.id}" th:text="${function.name}" th:checked="${#lists.contains(authority.functions,function)}">
                </label>
              </div>
            </div>

            <br/>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-secondary am-btn-lg">提&nbsp;&nbsp;&nbsp;交</button>
                <button type="button" class="am-btn am-btn-secondary am-btn-lg" th:onclick="'javascript:getMainContainer(\''+(${session.pageHistory[1]})+'\');'">返&nbsp;&nbsp;&nbsp;回</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/ui/amazeui/assets/js/amazeui.min.js"></script>