<div class="am-cf am-padding am-padding-bottom-0">
  <div class="am-fl am-cf">
    <strong class="am-text-primary am-text-lg" th:text="${title}">表格</strong>
  </div>
</div>

<hr>

<form id="queryForm" th:action="@{/projects}" th:object="${project}" onsubmit="return postMainContainer('queryForm');">
  <input type="hidden" name="pageNumber" th:value="${page.number}">

  <div class="am-g">
    <div class="am-u-sm-12 am-u-md-3 am-u-lg-3 am-text-center am-form-group">
      标题：
    </div>
    <div class="am-u-sm-12 am-u-md-3 am-u-lg-3 am-form-group">
      <input type="text" name="title" class="am-form-field" th:value="*{title}">
    </div>

    <div class="am-u-sm-12 am-u-md-3 am-u-lg-3 am-text-center am-form-group">
      负责人：
    </div>
    <div class="am-u-sm-12 am-u-md-3 am-u-lg-3 am-form-group am-u-end">
      <select name="owner" data-am-selected="{btnWidth: '100%'}">
        <option value=""></option>
        <option value="a" th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}+'('+${user.username}+')'" th:selected="${user == project.owner}">Apple</option>
      </select>
    </div>

  </div>

  <br/>

  <div class="am-g">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
      <button type="submit" class="am-btn am-btn-primary am-btn-xs am-btn-lg">提&nbsp;&nbsp;&nbsp;交</button>
    </div>
  </div>

</form>

<div class="am-u-sm-12 am-u-md-6">
  <div class="am-btn-toolbar">
    <div class="am-btn-group am-btn-group-xs">
      <button id="add" type="button" class="am-btn am-btn-primary" th:onclick="'javascript:getMainContainer(\'/projects/save\');'">
        <span class="am-icon-plus"></span> 新增
      </button>
    </div>
  </div>
</div>
<div class="am-g">
  <div class="am-u-sm-12">
    <table class="am-table am-table-striped am-table-hover table-main">
      <thead>
      <tr>
        <th class="am-hide-sm-only">id</th>
        <th>标题</th>
        <th class="am-hide-sm-only">创建时间</th>
        <th>创建者</th>
        <th>项目负责人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="project : ${page.content}">
        <td class="am-hide-sm-only" th:text="${project.id}">1</td>
        <td th:onclick="'javascript:getMainContainer(\'/projects/view/'+(${project.id})+'\');'"><a th:text="${project.title}">标题</a></td>
        <td class="am-hide-sm-only" th:text="${#dates.format(project.createtime,'yyyy-MM-dd HH:mm:ss')}">2017-01-01</td>
        <td th:text="${project.creater.name}">创建者</td>
        <td th:text="${project.owner.name}">负责人</td>
        <td>
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button class="am-btn am-btn-default am-btn-xs am-text-secondary" th:onclick="'javascript:getMainContainer(\'/projects/save/'+(${project.id})+'\');'">
                <span class="am-icon-pencil-square-o"></span> 修改
              </button>
              <button class="am-btn am-btn-default am-btn-xs am-text-danger" th:onclick="'javascript:deleteMainContainer(\'/projects/'+(${project.id})+'\', \''+(${session.pageHistory[0]})+'\');'">
                <span class="am-icon-trash-o"></span> 删除
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- 分页 -->
    <div th:replace="~{frame/page :: page}">...</div>

    <hr/>
  </div>
</div>

<script src="/ui/amazeui/assets/js/amazeui.min.js"></script>