<div class="row-content am-cf">
  <div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
      <div class="widget am-cf">
        <div class="widget-head am-cf">
          <div class="widget-title  am-cf" th:text="${title}">维护页</div>
        </div>

        <div id="markdown" class="am-u-sm-12 am-u-md-6 am-u-md-push-6 am-scrollable-vertical">
        </div>

        <div class="am-u-sm-12 am-u-md-6 am-u-md-pull-6">
          <div class="widget-body am-fr">
            <form id="saveForm" class="am-form tpl-form-border-form tpl-form-border-br" th:action="@{/projects/save}" th:object="${object}" th:attr="returnUrl=${session.pageHistory[1]}" onsubmit="return ajaxMainContainer('saveForm');">
              <input type="hidden" name="id" th:value="*{id}">

              <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">标题</label>
                <div class="am-u-sm-9">
                  <input type="text" class="tpl-form-input" name="username" placeholder="请输入标题" th:value="*{title}">
                </div>
              </div>

              <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">项目负责人</label>
                <div class="am-u-sm-9">
                  <select name="owner" data-am-selected="{btnWidth: '100%'}">
                    <option value=""></option>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}+'('+${user.username}+')'" th:selected="${user == object.owner}">Apple</option>
                  </select>
                </div>
              </div>

              <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">描述</label>
                <div class="am-u-sm-9">
                  <textarea name="dscb" th:text="${object.dscb}" rows="20"></textarea>
                </div>
              </div>

              <br/>

              <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-push-3">
                  <button type="submit" class="am-btn am-btn-secondary am-btn-lg">提&nbsp;&nbsp;&nbsp;交</button>
                  <button type="button" class="am-btn am-btn-secondary am-btn-lg" th:onclick="'javascript:getMainContainer(\''+(${session.pageHistory[1]})+'\');'">返&nbsp;&nbsp;&nbsp;回</button>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/js/showdown/dist/showdown.min.js"></script>
<script src="/js/markdown.js"></script>
<script>
$(document).ready(function(){
    bindMarkdown("dscb", "markdown");
});
</script>